<html>
<head>
<title>livecamera</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">

// マウスボタンの状態
var mouseDown = false;
// Canvasサイズ
var viewSize = 400;
// トリミングサイズ
var trimSize = 200;
var trimPadding = 100;
// 画像描画開始位置
var viewX = 0;
var viewY = 0;
// マウスボタンを押したときの位置
var startX = 0;
var startY = 0;

var trimRect = {
        x : 0,
        y : 0,
        width : 0,
        height : 0,
        setStart : function(x, y) {
                this.x = x;
                this.y = y;
        },
        setEnd : function(x, y) {
                         if (this.x > x) {
                                 var tmp_x = this.x;
                                 this.x = x;
                                 x = tmp_x;
                         }
                         if (this.y > y) {
                                 var tmp_y = this.y;
                                 this.y = y;
                                 y = tmp_y;
                         }
                        this.width = x - this.x;
                        this.height = y - this.y;
        }
};

// 読み込んだイメージのサイズ
var imageWidth;
var imageHeight;

var canvas;
var context;
var img;


// トリム結果の表示先
var trimCanvas;

//////////////////

var live_flag = true;
var live_img;
var arrayBuffer;
var ws;

function setUp()
{
        live_img = document.getElementById("live_img");

        // Canvas
        canvas = document.getElementById('view_canvas');
        canvas.width = live_img.width;
        canvas.height = live_img.height;

//        trimCanvas = document.getElementById('trim_canvas');
        trimCanvas = document.createElement("CANVAS");
        trimCanvas.width = trimSize;
        trimCanvas.height = trimSize;

        // 画像
        img = new Image();
        img.onload = function() {
                context = canvas.getContext('2d');
                draw(0,0);
                imageWidth = 0 - img.width;
                imageHeight = 0 - img.height;
        }


        ///////////////////////////////////////////////


        document.getElementById('dbg').innerHTML = "ws://" + window.location.hostname + ":" + window.location.port + "/camera";
        //WebSocketでサーバに接続
        ws = new WebSocket("ws://" + window.location.hostname + ":" + window.location.port + "/camera"); ws.binaryType = 'arraybuffer';   //受診するデータがバイナリであるので設定

        ws.onopen = function(){console.log("connection was established");};  //接続が確立した時に呼ばれる
        ws.onmessage = function(evt){
                if (!live_flag) {
                        return;
                }
                arrayBuffer = evt.data;
                //受信したデータを復号しbase64でエンコード
                live_img.src = "data:image/jpeg;base64," + encode(new Uint8Array(arrayBuffer));
        };

        window.onbeforeunload = function(){
                //ウィンドウ（タブ）を閉じたらサーバにセッションの終了を知らせる
                ws.close(1000);
        };
}

// Canvasに選択した画像を展開
function preview(ele) {
        // ファイルが選択されているか？
        if (!ele.files.length) return;
        // Canvas使えるか？
        if ( ! canvas || ! canvas.getContext ) return;
        // 対象型式の画像か？
        var file = ele.files[0];
        if (!/^image\/(png|jpeg|gif)$/.test(file.type)) return;

        // リーダー
        var reader = new FileReader();
        reader.onload = function() {
                img.src = reader.result;
        }  
        //読み込み実施
        viewX = 0;
        viewY = 0;
        reader.readAsDataURL(file); 
}

// 画像の表示位置変更
function onCanvasMouseMove(event) {
        if (mouseDown){
                // 横位置計算
                viewX = viewX + (event.clientX - startX) / 20;
                // 画像の外まで飛んでいかないように
                if(viewX > trimPadding ) viewX = trimPadding;
                var maxX = imageWidth * ratio + viewSize - trimPadding;
                if(viewX < maxX) {
                        viewX = maxX;
                }

                // 縦位置計算
                viewY = viewY + (event.clientY - startY) / 20;
                // 画像の外まで飛んでいかないように
                if(viewY > trimPadding ) viewY = trimPadding;
                var maxY = imageHeight * ratio + viewSize - trimPadding;
                if(viewY < maxY) {
                        viewY = maxY;
                }
                // 再描画
                draw(viewX, viewY);
        }
}

var canvasMouseDownState = 0;
// キャンバス上のマウスボタン押下
function onCanvasMouseDown(event) {
//        mouseDown = true;
        //startX = event.clientX;
        //startY = event.clientY;
        if (canvasMouseDownState == 0) {
                var rect = event.target.getBoundingClientRect();
                startX = event.clientX - rect.left;
                startY = event.clientY - rect.top;
                trimRect.setStart(event.clientX - rect.left, event.clientY - rect.top);
                draw2(trimRect.x, trimRect.y);
                canvasMouseDownState = 1;
        } else {
                var rect = event.target.getBoundingClientRect();
                //draw2(startX, startY, event.clientX - rect.left, event.clientY - rect.top);
                trimRect.setEnd(event.clientX - rect.left, event.clientY - rect.top);
                document.getElementById('dbg').innerHTML = trimRect.x + "/" + trimRect.y + "/" + trimRect.width + "/" + trimRect.height;
                draw3(trimRect);
                canvasMouseDownState = 0;
        }
}

// キャンバス上のマウスボタン開放
function onCanvasMouseUp() {
        mouseDown = false;
//        startX = 0;
 //       startY = 0;
}

// 画像をキャンバスに描画
function draw(x, y) {
        if(typeof x === 'undefined') x = 0;
        if(typeof y === 'undefined') y = 0;
        context.drawImage(img, x, y, img.width, img.height);
}


function draw3(rect) {
        draw();

        context.strokeStyle = 'rgb(0,0,0)';
        context.strokeRect(rect.x - 1, rect.y - 1, rect.width + 2, rect.height + 2);
        context.strokeStyle = 'rgb(255,255,255)';
        context.strokeRect(rect.x - 2, rect.y - 2, rect.width + 4, rect.height + 4);
}

function draw2(x, y) {
        draw();

        context.beginPath();
        context.strokeStyle = "rgb(0,0,0)";
        context.arc(x, y, 2, 0, Math.PI * 2, false);
        context.stroke();

        context.beginPath();
        context.strokeStyle = "rgb(255,255,255)";
        context.arc(x, y, 4, 0, Math.PI * 2, false);
        context.stroke();
}

// トリミング実施
function trimImage() {
        var trimData = context.getImageData(trimRect.x, trimRect.y, trimRect.width, trimRect.height);
        var trimContext = trimCanvas.getContext('2d');
        trimCanvas.width = trimRect.width;
        trimCanvas.height = trimRect.height;
        trimContext.putImageData(trimData, 0, 0 );

        var base64= trimCanvas.toDataURL('image/png');
        var xmlHttpRequest = new XMLHttpRequest();
        xmlHttpRequest.open( 'POST', '/' );

        xmlHttpRequest.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );

        xmlHttpRequest.send( EncodeHTMLForm({img: base64.replace(/^.*,/, '')}) );
}

function EncodeHTMLForm( data )
{
    var params = [];

    for( var name in data )
    {
        var value = data[ name ];
        var param = encodeURIComponent( name ) + '=' + encodeURIComponent( value );

        params.push( param );
    }

    return params.join( '&' ).replace( /%20/g, '+' );
}
///////////////////////////

function encode (input) {
    var keyStr = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
    var output = "";
    var chr1, chr2, chr3, enc1, enc2, enc3, enc4;
    var i = 0;

    while (i < input.length) {
        chr1 = input[i++];
        chr2 = i < input.length ? input[i++] : Number.NaN; // Not sure if the index
        chr3 = i < input.length ? input[i++] : Number.NaN; // checks are needed here

        enc1 = chr1 >> 2;
        enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
        enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
        enc4 = chr3 & 63;

        if (isNaN(chr2)) {
            enc3 = enc4 = 64;
        } else if (isNaN(chr3)) {
            enc4 = 64;
        }
        output += keyStr.charAt(enc1) + keyStr.charAt(enc2) +
                  keyStr.charAt(enc3) + keyStr.charAt(enc4);
    }
    return output;
}


function takeImage()
{
        viewX = 0;
        viewY = 0;
        img.src = live_img.src;
}

function playPauseImage()
{
        live_flag = !live_flag;
}

</script>
</head>
<body onload="setUp();">
<img id="live_img" src="" width="480" height="360" onClick="takeImage();" style="border:solid 1px black;">
<div id="dbg">test</div>
<br>
<input type="button" onClick="playPauseImage();" value="play/pause">
<br>
<hr />

<form>
<input type="file" name="file" onchange="preview(this);" />
<hr />
<h4>キャンバスに画像を読み込んでトリミング</h4>
<canvas id="view_canvas"
  onmousemove="onCanvasMouseMove(event);"
  onmousedown="onCanvasMouseDown(event);"
  onmouseup="onCanvasMouseUp();"
  onmouseout="onCanvasMouseUp();"
  style="border:solid 1px black;">
</canvas>
<canvas id="trim_canvas"
  style="border:solid 1px black;">
</canvas>
<br/>
<br/>
<input type="button" value="切り出し" onclick="trimImage()"/>
<hr/>
</form>
<script type="text/javascript">
</script>
</body>
</html>
